@model List<GuildCars.Models.Tables.Vehicle>
@{
    ViewBag.Title = "Index";
}

<header>
    <div class="jumbotron">
        <h1>BIG HUGE SALE!!!</h1>
        <p class="lead">All sales are final.</p>
    </div>
</header>


<div class="container">
    <div class="row">
        @foreach (var vehicle in Model)
        {
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class=" card h-100 boxed">
                    <img src="@vehicle.ImagePath" class="card-img-top" width="300" height="200"/>
                    <div class="card-body">
                        <h4 class="card-title ">
                            @vehicle.Year @vehicle.Make @vehicle.ModelName $@vehicle.ActualListedPrice
                        </h4>
                    </div>
                </div>
            </div>
        }
     </div>
</div>